.task-container {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;

    .header{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

}