.container{
    padding: 0 10px 0 10px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-item-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}