<div class="login-container">
    <mat-card class="login-card">
        <mat-card-title class="login-title">Login</mat-card-title>
        <mat-card-content>
            <mat-form-field class="custom-input">
                <mat-label>Email</mat-label>
                <input matInput [(ngModel)]="email" type="email">
            </mat-form-field>

            <mat-form-field class="custom-input">
                <mat-label>Password</mat-label>
                <input matInput [(ngModel)]="password" type="password">
            </mat-form-field>

            <button mat-raised-button color="primary" class="login-button" (click)="login()">
                Login
            </button>
            <p class="error-message" *ngIf="errMessage">
                {{errMessage}}
            </p>
        </mat-card-content>
    </mat-card>
</div>
